header{
    background-color:#000;
    .wrapper{
        display: flex;
        justify-content: space-between;
        @include mobile{
            position: relative;
            // width: 
        }
    }

   nav{
    margin-left: auto;
    @include mobile{
        position: absolute;
        background-color: #000;
        top: 2.5rem;
        width: 60%;
        height: 96vh;
        transform: translateX(-50rem);
        transition: transform .8s ease;

        
        &.active{
            transition: transform .8s ease;
            transform: translateX(-.5rem);
        }
    }
    
    ul{
        display: flex;
        @include mobile{
            flex-direction: column;
        }

        li{
            display: block;
            padding: 1rem;
            color: #fff;

            &:hover{
                color: #000;
                background-color: #fff;
            }

        }
    }
   }

   
// Icon toggler

#icon-toggler{
    cursor: pointer;
    display: none;
    @include mobile{
        display: block;
    }
    padding: .2em;
    height: fit-content;
    margin: auto 0;

    
    span{
        display: block;
      background-color: #fff;
      border-radius: .1em;
      margin: .3em auto;
      width: 3rem;
      height: .3rem;

    }


}

}


/*

#icon-toggler{
    position: fixed;
    display: flex;
    flex-direction: column;
    border: .1em solid $dark_gray;
    width: fit-content;
    padding: .2em;
    border-radius: .2em;
    margin-left: .7em;
    margin-top: .7em;
    z-index: 100;
    background-color: $main_gray;
    transition: background-color 1s ease;

    &.active{
        background-color: lighten($color: $dark_gray, $amount: 30);
    }
    
    span{
        display: block;
      background: $dark_gray;
      border-radius: .1em;
      margin: .1em auto;
      width: 2.6em;
      height: .3em;

    }


}

*/