#projects{
    
    position: relative;
        .projects-carousel{
            width: 100%;

            overflow-y: scroll;

            .projects-wrapper{
                display: flex;
                width: fit-content;
                height: 100%;
                margin: .9rem 0;
            }
          
            .project{
                cursor: pointer;
                min-width: 20rem;
                margin: .3rem;
                transition: background-color, transform .3s ease;
                background-color: $main_gray;
                border: none;

                &:hover{
                    transform: scale(1.02);
                    background-color: $waite;
                }

                @include tablet{
                    width: 98%;
                }
                border: 1px solid $secondary_main_gray;
                border-radius: .1rem;

                .project-img{
                    width: 100%;
                    height: auto;
                    
                }

                .project-title{
                    padding: .9rem;
                    text-align: center;
                    font-weight: lighter;
                }

                .project-description{
                    text-align: center;
                    font-size: .9rem;
                    padding: .8rem;
                    line-height: 1.5em;
                }

                .project-button{
                    display: inline-block;
                    background-color: $main_blue;
                    color: darken($color: $dark_gray, $amount: 15);
                    padding: .5em;
                    font-size: inherit;
                    margin-right: auto;
                    margin: .4em;
                    border-radius: .2em;
                    // color: black;
                    font-weight: bold;

                }

                button.project-button{
                    background-color: $main_green;
                    border: none;
                }
               
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    
                    li{
                        border: 1px solid $dark_gray;
                        padding: .3rem;
                        border-radius: .4rem;
                        margin: .2rem;
                        font-size: .9rem;
                        &:before{
                            content: "#";
                        }

                        &:hover{
                            color: $main_gray;
                            background-color: $dark_gray;
                            transition: color, background-color .2s ease;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

}